# This is Git's per-user configuration file.
[user]
	name = Anatoly Lebedev
	email = {{ onepasswordRead "op://Personal/Fastmail/email-domain" }}
	signingkey = {{ .gpgsign }}
[commit]
	gpgsign = true
	verbose = true
	cleanup = scissors
[column]
    ui = auto
[tag]
	gpgSign = true
	sort = taggerdate
[core]
	excludesfile = {{ .chezmoi.homeDir }}/.gitignore
	pager = delta
    # fsmonitor = true
    # untrackedCache = true
[init]
	defaultBranch = master
[interactive]
	diffFilter = delta --color-only
[diff]
	algorithm = histogram
	submodule = log
	colorMoved = zebra
	tool = difftastic
	colorMovedWS = allow-indentation-change
	context = 10
    mnemonicPrefix = true
    renames = true
[delta]
	navigate = true
	light = false
[pull]
    rebase = true
[push]
	default = current
	autoSetupRemote = true
	followTags = true
[rebase]
	autoSquash = true
    autoStash = true
	missingCommitsCheck = error
	updateRefs = true
[rerere]
    enabled = true
    autoupdate = true
[fetch]
	fsckobjects = true
    prune = true
	pruneTags = true
    all = true
[branch]
	autosetupbase = always
	sort = -committerdate
[merge]
	conflictstyle = zdiff3
	keepbackup = false
	tool = meld
[transfer]
	fsckobjects = true
[receive]
	fsckobjects = true
[status]
	submoduleSummary = true
[diff]
	submodule = log
[submodule]
	recurse = true
[log]
	date = iso
[url "ssh://git@github.com/"]
  insteadOf = https://github.com/
[help]
    autocorrect = prompt
[color]
    ui = auto
[color "status"]
	branch = 14 normal
	added = 10 normal
	updated = 10 normal
	localbranch = 14 normal
	changed = 11 normal
	header = normal
	remotebranch = 13 normal
	nobranch = 1 normal italic
	unmerged = 9 normal
	untracked = normal dim
[color "branch"]
	plain = 14 normal dim
	remote = 13 normal dim
	current = 14 normal
	local = 14 normal dim
	upstream = 13 normal
[color "remote"]
	hint = normal dim
	success = 2 normal
	error = 1 normal
	warning = 3 normal
[color "interactive"]
	header = 8 normal bold
	prompt = 15 4
	help = 8 normal
	error = 1 normal italic
[color "diff"]
	commit = 3 normal
	newMoved = 14 normal
	oldMovedAlternativeDimmed = 4 normal dim
	frag = 8 normal ul
	oldMovedAlternative = 12 normal dim
	contextBold = normal bold
	newBold = 10 normal bold
	context = normal
	oldMoved = 14 normal dim
	oldBold = 9 normal dim bold
	newMovedDimmed = 6 normal
	func = 8 normal ul
	meta = 8 normal
	newDimmed = 2 normal
	newMovedAlternative = 12 normal
	new = 10 normal
	newMovedAlternativeDimmed = 4 normal
	whitespace = normal 9
	oldMovedDimmed = 6 normal dim
	oldDimmed = 1 normal dim
	old = 9 normal dim
[color "decorate"]
	branch = 14 normal
	tag = 3 normal
	remotebranch = 13 normal
	stash = 8 normal
	grafted = 1 normal italic
	HEAD = 14 normal dim
