Include {{ .chezmoi.homeDir }}/.colima/ssh_config
Include {{ .chezmoi.homeDir }}/.ssh/config.d/*.conf
Host *
    User {{ .chezmoi.username }}
    UseKeychain yes
    AddKeysToAgent yes
    # IdentitiesOnly yes
    IdentityFile ~/.ssh/alebedev
    IdentityFile ~/.ssh/edgerouter
    # disable unnecessary forwardings
    ForwardAgent no
    ForwardX11 no
    ForwardX11Trusted no
    GatewayPorts no
    Tunnel no
    ConnectTimeout 30
    ServerAliveInterval 10
    ControlMaster auto
    ControlPersist yes
    ServerAliveCountMax 30

    # disable unnecessary authentication methods
    ChallengeResponseAuthentication no
    GSSAPIAuthentication no
    HostbasedAuthentication no

    # define authentication methods to be used
    PasswordAuthentication yes
    PubkeyAuthentication yes
    PreferredAuthentications publickey,password

    # disable pre-connection compression as it could cause security issues
    Compression no

    # in addition to checking a host's hostname, also check the host's IP address this provides extra safety against DNS spoofing attacks
    CheckHostIP yes

    # ask the user if the user wants to accept the new host's host key
    StrictHostKeyChecking ask

    # hash the entries in the known_hosts file to prevent diclosure of the file's content
    HashKnownHosts yes
    
    # Host keys the client accepts - order here is honored by OpenSSH
    HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa,ecdsa-sha2-nistp521-cert-v01@openssh.com,ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp256-cert-v01@openssh.com,ecdsa-sha2-nistp521,ecdsa-sha2-nistp384,ecdsa-sha2-nistp256
    # for older servers, be carefull
    # HostKeyAlgorithms ssh-ed25519-cert-v01@openssh.com,ssh-rsa-cert-v01@openssh.com,ssh-ed25519,ssh-rsa,ecdsa-sha2-nistp256-cert-v01@openssh.com,ecdsa-sha2-nistp521-cert-v01@openssh.com,ecdsa-sha2-nistp384-cert-v01@openssh.com,ecdsa-sha2-nistp521,ecdsa-sha2-nistp384,ecdsa-sha2-nistp256
    # explicitly define cryptography algorithms to avoid the use of weak algorithms
    KexAlgorithms curve25519-sha256@libssh.org,ecdh-sha2-nistp521,ecdh-sha2-nistp384,ecdh-sha2-nistp256,diffie-hellman-group-exchange-sha256
    MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,umac-128-etm@openssh.com,hmac-sha2-512,hmac-sha2-256,umac-128@openssh.com
    Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com,aes256-ctr,aes192-ctr,aes128-ctr
    
    # short moduli should be deactivated before enabling the use of diffie-hellman-group-exchange-sha256
    # see this link for more details: https://github.com/k4yt3x/ssh_config#deactivating-short-diffie-hellman-moduli
    #KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group-exchange-sha256,diffie-hellman-group14-sha256
    KexAlgorithms curve25519-sha256,curve25519-sha256@libssh.org,diffie-hellman-group16-sha512,diffie-hellman-group18-sha512,diffie-hellman-group14-sha256

    # do not send any local environment variables
    # SendEnv

    # send a keepalive message to the server when the session has been idle for 60 seconds
    # this prevents/detects connection timeouts
    ServerAliveInterval 60

    # increase the number of password retries
    NumberOfPasswordPrompts 5

    # display an ASCII art of the server's host key
    VisualHostKey yes
